In [1]:
import pandas as pd
from rdflib import Graph, Literal, RDF, URIRef, Namespace

In [2]:
artist_url='https://raw.githubusercontent.com/FHCampbell71/KG/main/artists.csv'
album_url='https://raw.githubusercontent.com/FHCampbell71/KG/main/albums.csv'

artist_df=pd.read_csv(artist_url)
album_df=pd.read_csv(album_url)

In [3]:
artist_df.head(1)

,id,real_name,art_name,role,year_of_birth,country,city,email,zip_code
0,1,Kameko Nelson,NaN,female voice,1981,Slovenia,Vedrin,lorem.tristique.aliquet@nonummyFusce.co.uk,6914

In [4]:
album_df.head(1)

,id,artist_id,album_title,genre,year_of_pub,num_of_tracks,num_of_sales,rolling_stone_critic,mtv_critic,music_maniac_critic
0,1,1767,Call me Cat Moneyless That Doggies,Folk,2006,11,905193,4.0,1.5,3.0

In [5]:
g = Graph()
EX = Namespace('http://example.com/')
DB = Namespace('http://dbpedia.org/resource/')
RDF = Namespace('http://www.w3.org/1999/02/22-rdf-syntax-ns#')
RDFS = Namespace('http://www.w3.org/2000/01/rdf-schema#')
XSD = Namespace('http://www.w3.org/2001/XMLSchema#')
SCH = Namespace('https://schema.org/')
MO = Namespace('http://purl.org/ontology/mo/')
PAV = Namespace('http://purl.org/pav/')

In [6]:
for index, row in artist_df.iterrows():
  g.add((URIRef(EX + 'Artist_' + str(row['id'])), RDF.type, URIRef(SCH + 'artist')))
  g.add((URIRef(EX + 'Artist_' + str(row['id'])), URIRef(SCH + 'identifier'), Literal(row['id'], datatype=XSD.integer)))
  g.add((URIRef(EX + 'Artist_' + str(row['id'])), URIRef(SCH + 'name'), Literal(row['real_name'])))
  g.add((URIRef(EX + 'Artist_' + str(row['id'])), URIRef(SCH + 'alternateName'), Literal(row['art_name'])))
  g.add((URIRef(EX + 'Artist_' + str(row['id'])), URIRef(SCH + 'roleName'), Literal(row['role'])))
  g.add((URIRef(EX + 'Artist_' + str(row['id'])), URIRef(SCH + 'birthDate'), Literal(row['year_of_birth'], datatype=XSD.integer)))
  g.add((URIRef(EX + 'Artist_' + str(row['id'])), URIRef(SCH + 'Country'), Literal(row['country'])))
  g.add((URIRef(EX + 'Artist_' + str(row['id'])), URIRef(SCH + 'City'), Literal(row['city'])))
  g.add((URIRef(EX + 'Artist_' + str(row['id'])), URIRef(SCH + 'postalCode'), Literal(row['zip_code'])))
  g.add((URIRef(EX + 'Artist_' + str(row['id'])), URIRef(SCH + 'email'), Literal(row['email'])))

In [7]:
for index, row in album_df.iterrows():
  g.add((URIRef(EX + 'Album_' + str(row['id'])), RDF.type, URIRef(SCH + 'artist')))
  g.add((URIRef(EX + 'Album_' + str(row['id'])), URIRef(SCH + 'identifier'), Literal(row['id'], datatype=XSD.integer)))
  g.add((URIRef(EX + 'Album_' + str(row['id'])), URIRef(SCH + 'title'), Literal(row['album_title'])))
  g.add((URIRef(EX + 'Album_' + str(row['id'])), URIRef(MO + 'genre'), Literal(row['genre'])))
  g.add((URIRef(EX + 'Album_' + str(row['id'])), URIRef(SCH + 'datePublished'), Literal(row['year_of_pub'])))
  g.add((URIRef(EX + 'Album_' + str(row['id'])), URIRef(SCH + 'numTracks'), Literal(row['num_of_tracks'], datatype=XSD.integer)))
  g.add((URIRef(EX + 'Album_' + str(row['id'])), URIRef(DB + 'Rolling_stone'), Literal(row['rolling_stone_critic'], datatype=XSD.float)))
  g.add((URIRef(EX + 'Album_' + str(row['id'])), URIRef(DB + 'MTV'), Literal(row['mtv_critic'], datatype=XSD.float)))
  g.add((URIRef(EX + 'Album_' + str(row['id'])), URIRef(DB + 'Music_Maniac'), Literal(row['music_maniac_critic'], datatype=XSD.float)))
  g.add((URIRef(EX + 'Album_' + str(row['id'])), URIRef(DB + 'Sales'), Literal(row['num_of_sales'], datatype=XSD.integer)))
  g.add((URIRef(EX + 'Album_' + str(row['id'])), URIRef(PAV + 'createdBy'), URIRef(EX + 'Artist_' + str(row['artist_id']))))

In [8]:
# Export the whole graph as 'graph.ttl'
with open('graph.ttl', 'w', encoding='utf-8') as outfile:
    outfile.write(g.serialize(format='turtle'))

In [8]:
# Print the first 10 triples
for i, (sub, pred, obj) in enumerate(g):
    print(sub, pred, obj)
    if i > 10:
        break

http://example.com/Artist_7189 https://schema.org/name Boris Finley
http://example.com/Album_40018 http://dbpedia.org/resource/Rolling_stone 4.0
http://example.com/Album_68912 http://dbpedia.org/resource/Sales 979656
http://example.com/Artist_46773 https://schema.org/name Mohammad Wilcox
http://example.com/Album_92962 http://dbpedia.org/resource/MTV 4.5
http://example.com/Album_58042 https://schema.org/datePublished 2000
http://example.com/Album_42435 http://dbpedia.org/resource/Rolling_stone 1.0
http://example.com/Album_30471 http://purl.org/pav/createdBy http://example.com/Artist_15588
http://example.com/Album_46658 https://schema.org/identifier 46658
http://example.com/Album_29523 http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://schema.org/artist
http://example.com/Album_22237 https://schema.org/datePublished 2003
http://example.com/Album_35391 https://schema.org/numTracks 9

---
# Queries

In [15]:
# Which albums/artists have achieved a rating of more than 4.5 from MTV?
query_cq1 = """
PREFIX db: <http://dbpedia.org/resource/>
PREFIX pav: <http://purl.org/pav/>

SELECT ?album ?artist WHERE {
  ?album db:MTV ?rating .
  ?album pav:createdBy ?artist .
  FILTER (?rating > 4.5)
}
"""

# What is the number of album sales for all artists from the Netherlands?
query_cq2 = """
PREFIX db: <http://dbpedia.org/resource/>
PREFIX pav: <http://purl.org/pav/>
PREFIX sch: <https://schema.org/>

SELECT (SUM(?numSales) as ?sumSales) WHERE {
  ?album db:Sales ?numSales .
  ?album pav:createdBy ?artist .
  ?artist sch:Country "Netherlands" .
}
"""

# How many albums with genre "country" were released in the year of 2012?
query_cq3 = """
PREFIX db: <http://dbpedia.org/resource/>
PREFIX pav: <http://purl.org/pav/>
PREFIX sch: <https://schema.org/>
PREFIX mo: <http://purl.org/ontology/mo/>

SELECT (COUNT(?album) as ?sumAlbum) WHERE {
  ?album mo:genre "Country" .
  ?album sch:datePublished 2012 .
}
"""


# Competency Question 1
result = g.query(query_cq1)
print('Competency Question 1')
print(f'{len(result)} results found')
# Print one example
for r in result:
  print(f'Example: {r}')
  break
print()

# Competency Question 2
result = g.query(query_cq2)
print('Competency Question 2')
print(*result)
print()

# Competency Question 3
result = g.query(query_cq3)
print('Competency Question 3')
print(*result)

Competency Question 1
10106 results found
Example: (rdflib.term.URIRef('http://example.com/Album_8'), rdflib.term.URIRef('http://example.com/Artist_648'))

Competency Question 2
(rdflib.term.Literal('223264202', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#integer')),)

Competency Question 3
(rdflib.term.Literal('90', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#integer')),)